*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.w50 a img{
    width: 5%;
    height: 5%;
}

.w50{
    width: 50%;
}

header{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 50px;
    background-color:rgb(165, 103, 67);
    align-items: center;
}

header nav{
    display: flex;
    gap:50px;
}

.banner img{
    width: 100%;
}

.container{
    padding: 0% 7% 0% 12%;
}

.product-link:hover{
    display:inline-block;
    text-decoration: none; /*remove a linha embaixo*/
    color: crimson;
    border: 1px solid;
    border-radius: 8px;
    padding: 16px;
    max-width: 250px;
    margin: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
    transition: box-shadow 0.3 ease;
}

.product-img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    width: 250px;
    height: 250px;

}

figcaption{
    margin-bottom: 12px;
    font-size: 22px;
    color: #333;
}

.product-price{
    font-size: 20px;
    font-weight: bold;
    color: #E53935;
    margin-bottom: 8px;
}

.product-installment {
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
}

.product-cash {
    font-size: 16px;
    color: #30a740;
    margin-bottom: 8px;
}